/* common class */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* nav section starts */

nav{
    width: 100%;
    height: 92px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
}

nav .menu{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    line-height: 10px;
    font-weight: 400px;
    color: #000000;
}

.btn{
    background-color: #469165;
    font-size: 16px;
    width: 164px;
    height: 44px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(135, 128, 181);
    color: black;
}


/* banner section starts */


